body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.login-box {
  width: 400px;
  height: 400px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input[type="text"], .login-box input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.login-box button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box button[type="submit"]:hover {
  cursor: pointer;
  background: #e2e2e2;
  color: #000;
}

.forgot-link {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  margin-top: 15px;
}

.forgot-link:hover {
  color: #e2e2e2;
}
